<table id="table2">
  <colgroup>
    <col width="50"/>
    <% 5.times do %><col width="100"/><% end %>
  </colgroup>
  <tbody>
    <tr>
      <td class="mark blank"></td>
      <% t('date.abbr_day_names')[1..5].each do |name| %>
        <td class="mark dark"><%= name %></td>
      <% end %>
    </tr>
    <% data = JSON.parse(timetable.data) %>
    <% (data.count).times do |period| %>
      <tr>
        <td class="mark dark"><%= period + 1 %>時限目</td>
        <% data[period].count.times do %><td></td><% end %>
      </tr>
    <% end %>
  </tbody>
</table>