<h1>Listing groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tags</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group_path(group) %></td>
        <td><%= group.tags.join(', ') %></td>
        <td>
          <% if group.users.include? current_user %>
            参加済み
          <% else %>
            <%= link_to 'Join', join_group_path(group) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>