<div class="system-data">
	<h1 class="title">Mr.Scheduler(ミスタースケジューラ)</h1><br>
	<h2 class="cat">キャッチコピー</h2><br>
</div>
<div class="box-list">
	<p class="title">Mr.Schedulerの特徴</p><br>
	<p class="list">１．部活やクラスのみんなと課題や持参物の情報を共有できる！</p>
	<p class="list">２．時間割を登録し、授業変更にも対応した、あなたの明日の授業を一括管理！</p>
	<p class="list">３．友達だけが分かるクイズを設定して簡単グループ勧誘機能！</p><br>
</div>
<div class="expl">
<p>いままで学校の課題を忘れてしまったことが原因で、減点される、もしくは先生から叱られたなんて経験
はありませんか？このサービスは、学校の課題や持参物を簡単で見やすく、みんなで課題を管理することができるサービスです。</p>
</div>