<div class="expl">
<h1 class="title">Mr.Scheduler(ミスタースケジューラ)</h1>
<br>
<h2 class="cat">キャッチコピー</h2>
<br>
<p class="ss">主な機能</p>
<br>
<p class="ss">１．部活やクラスのみんなと課題や持参物の情報を共有できる！</p>
<p class="ss">２．時間割を登録し、授業変更にも対応した、あなたの明日の授業を一括管理！</p>
<p class="ss">３．友達だけが分かるクイズを設定して簡単グループ勧誘機能！</p>


</div>