@charset "utf-8";

/*skip*/
#skip{
    margin:10px;
	float:right;
    background:#222;
    border-radius:5px;
	text-decoration:none;
    color:#fff;
    padding:10px;
    bottom:20px;
    right:20px;
}
#skip:hover{
    transition:ease 0.5s 0s;
    background:#555;
}
/*sticky*/
#side-sticky-wraper{
	
}
/*copyright*/
.copyright{
    position:absolute;
    top:60px;
    left:45%;
	color:#222;
}

/* tooltip */
.tooltipster-default {
    position:absolute;
	border-radius: 5px; 
	border: 1px solid #ccc;
	background: #fff;
	color: #222;
}

.tooltipster-default .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
	overflow: hidden;
}
.tooltipster-default .tooltipster-arrow .tooltipster-arrow-border {
	/* border-color: ... !important; */
}

.tooltipster-icon {
	cursor: help;
	margin-left: 4px;
}
