@charset "utf-8";

.expl{
    padding:10px;
}
.expl .title{
    border-top:3px solid #444eee;
    border-bottom:3px solid #444eee;
    margin:20px 0;
}

.expl .cat{
    font-size:26px;
    margin:10px 0;
    background:#ccc;
    border-top:1px dotted;
    border-bottom:1px dotted;
}

.expl .ss{
    width:100%;
    font-weight:bold;
    font-size:20px;
    margin:10px;
}
