@charset "utf-8";
body{
	background-image:url(/assets/c-bg.jpg);
	background-attachment:fixed;
}
.expl{
    padding:10px;
}
.expl .title{
    border-bottom:2px solid #555eee;
    margin:20px 0;
}

.expl .cat{
    margin:10px 0;
}

.expl .ss{
    width:100%;
    font-weight:bold;
    font-size:20px;
    margin:10px;
}